*, *:after, *:before {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body{
    padding: 0px 15% 0px 15%;
}

header{
    background-color: #1f2937;
    border: 2px solid red;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav{
    list-style: none;
}

li a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    float: right;
    padding: 17px;
    flex-direction: row;
}

.logo, .nav{
    flex: 1;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}