*, *:after, *:before {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

/* I added initial queries to make things easier. 
Also hover elements for nice hover over buttons. */

a{
    text-decoration: none;
    color: white;
}

body{
    background-color: #1f2937;
}

header{
    padding: 0px 15% 0px 15%;
    background-color: #1f2937;
    height: 100px;
    display: flex;
    align-items: center;
}

.nav{
    list-style: none;
}

li a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    float: right;
    padding: 17px;
    flex-direction: row;
}

li a:hover{
    color: gray;
}

.logo, .nav{
    flex: 1;
}

.logo{
    color: #f9faf8;
    font-size: 24px;
}

/* main */

.container-1{
   display: flex; 
   height: 600px;
   align-items: center;
   padding: 0px 15% 0px 15%;
}

.text, .img-container{
    flex: 1 1 0;
}

.img-container{
    height: 55%;
    background-image: url(./assets/gabriella-clare-marino-bjb4Td4y2wY-unsplash.jpg);
    background-size:cover
}

.text h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.text{
    padding: 20px 0 20px 0;
}

.text p{
    margin-top: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

.text a{
    margin-top: 30px;
    display: block;
    border-radius: 9px;
    padding: 10px;
    background-color: #3882F6;
    width: 130px;
    color: #f9faf8;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.info{
    padding: 3% 0 6% 0 ;
    width: 100%;
    background-color: white;
    height: auto;
    text-align: center;
}

.info h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.cards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 250px;
    height: 300px;
}

.image-info{
    border: 5px solid #3882F6;
    border-radius: 20px;
    width: 100%;
    height: 75%;
}

.image-info img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.text-info{
    font-size: 18px;
    color: rgb(90, 90, 90);
    margin-top: 20px;
}

.quote{
    height: auto;
    background-color: #e5e7eb;
    padding: 7% 10% 5% 10%;
    display: flex;
    justify-content: center;
}

.thor-quote{
    width: 66%;
}

.thor-quote h2{
    /* do it a lil bit bigger for estetic 1920 */
    font-size: 46px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.thor-quote h3{
    text-align: end;
    font-size: 25px;
    margin-top: 15px;
}

.action{
    background-color: white;
    padding: 5% 15% 5% 15%; 
}

.call-action{
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5% 12% 5% 12%;
    color: white;
}

.item-1{
    flex: auto;
}

.item-1 p{
    margin-top: 7px;
    font-size: 18px;
}

.item-2{
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-2 a{
    display: block;
    border-radius: 9px;
    padding: 10px;
    border: 2px solid white;
    width: 130px;
    color: #f9faf8;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}

.item-2 a:hover,
.text a:hover{
    background-color: white;
    color: #1f2937;
}

/* footer */

footer{
    display: flex;
    padding: 2% 0% 2% 0%;
    justify-content: center;
    color: rgb(199, 199, 199);
    font-size: 18px;
}